<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
          <h3>Edit your Listing</h3>
          <form
            method="POST"
            action="/listing/<%= listing._id %>?_method=PUT"
            novalidate
            class="needs-validation"
          >
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input
                name="listing[title]"
                value="<%= listing.title %>"
                type="text"
                class="form-control"
                required
              />
              <div class="invalid-feedback">invalid Title</div>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Discription</label>
              <textarea name="listing[description]" class="form-control" required>
      <%= listing.description %></textarea
              >
              <div class="invalid-feedback">write short description</div>
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Image Link</label>
              <input
                name="listing[image]"
                value="<%= listing.image %>"
                type="text"
                class="form-control"
                required
              />
              <div class="invalid-feedback">invalid img url</div>
            </div>
            <div class="row">
              <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input
                  name="listing[price]"
                  value="<%= listing.price %>"
                  type="number"
                  class="form-control"
                  required
                />
                <div class="invalid-feedback">price should not be null</div>
              </div>
              <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input
                  name="listing[country]"
                  value="<%= listing.country %>"
                  type="text"
                  class="form-control"
                  required
                />
                <div class="invalid-feedback">invalid country name</div>
              </div>
            </div>
      
            <div class="mb-3">
              <label for="location" class="form-label">Location</label>
              <input
                name="listing[location]"
                value="<%= listing.location %>"
                type="text"
                class="form-control"
                required
              />
              <div class="invalid-feedback">invalid location</div>
            </div>
            <button class="btn btn-dark mt-3 mb-3 btn-edit">Edit</button>
          </form>
        </div>
      </div>
    
</body>
</html>